@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #36F5EB, #26DEA1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2bfa7a60;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2B97FA;
    text-align: center;
    text-shadow: 1px 1px 2px #17528abb;
}

h2 {
    color: #26B6DE;
}

p {
    text-align: justify;
}